body {
    text-align: center;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#h1 {
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 3.5em;
    background-color: rgb(45, 62, 77);
    color: rgb(168, 221, 21);
    padding: .5em;
    box-shadow: 1px 1px 1px 1px rgb(206, 204, 204);
}

#h2{
    font-family: 'Courier New', Courier, monospace;
    
    font-size: 1em;
    background-color: rgb(45, 62, 77);
    color: rgb(168, 221, 21);
    padding: .5em, auto;
    box-shadow: 1px 1px 1px 1px rgb(206, 204, 204);
    
}
#generate {
    font-family: 'Harmattan', sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding: .5em;
    margin: .5em;
    box-shadow: 1px 1px 1px 1px rgb(206, 204, 204);
    background-color: rgb(168, 221, 21);
    color: rgb(45, 62, 77);
    border: none;
    border-radius: 2px;
    outline: none;
}

#sentences p {
    box-shadow: 1px 1px 1px 1px rgb(206, 204, 204);
    margin: 2em;
    margin-left: 15em, auto;
    margin-right: 15em, auto;
    padding: 2em;
    border-radius: 2px;
    font-size: 1.5em;
    
}
